html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.audio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

audio {
  margin-top: 40vh;
  outline: none;
}

label > i {
  margin: 0 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  background-color: #112200;
  border-radius: 20px;
  color: #ffa000;
}

#pause {
  display: none;
}
#bookmark {
  margin: 40vh 0 0 1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #ffa000;
}

.custom-audio {
  margin: 10vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
